App_Data/Projects/PhoneRepairShop_Code/PhoneRepairShop_Code/bin
App_Data/Projects/PhoneRepairShop_Code/PhoneRepairShop_Code/obj
App_Data/DomainUnload.info
App_Data/FileWatcher.info
App_Data/Projects/PhoneRepairShop_Code/.vs/PhoneRepairShop_Code/FileContentIndex
App_Data/Projects/PhoneRepairShop_Code/.vs
App_Data/Projects/PhoneRepairShop_Code/.vs/*
App_Data/FileWatcher.info
